{% extends "base.html" %}
{% block content %}
    <main class="col-lg-12">
        
        <h1 class="h3 mb-3 fw-normal">AliExpress Authentication Response</h1>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Key</th>
                    <th scope="col">Value</th>
                </tr>
            </thead>
            <tbody>
                {% for key, value in response.items %}
                <tr class="table-default">
                    <td data-label="Key">{{ key }}</td>
                    <td data-label="Value">
                        {% if value is mapping or value is sequence %}
                            <pre>{{ value|json_script }}</pre>
                        {% else %}
                            {{ value }}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}
