{% extends "base.html" %}
{% block content %}
    <div class="container mx-auto my-8">
        <h1 class="text-3xl font-semibold mb-6 text-gray-800">Product Details for {{ product_id }}</h1>
        {% if feed_name %}
            <a href="{% url 'feed_content_view' feed_name %}?category={{ selected_category }}"
               class="inline-block mb-6 bg-yellow-500 text-white font-medium py-2 px-4 rounded-md hover:bg-yellow-600 transition duration-300">Back to Feed Content</a>
        {% endif %}
        {% if product_details.aliexpress_ds_product_get_response %}
            <!-- Send to Shopify Button -->
            <form method="post" action="{% url 'push_product' %}" class="mb-6">
                <input type="hidden" name="product_id" value="{{ product_id }}">
                {% csrf_token %}
                <button type="submit"
                        class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                    Send to Shopify
                </button>
            </form>
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
                <!-- Product Details -->
                <div class="bg-white p-6 rounded-lg shadow-md">
                    <h2 class="text-2xl font-semibold mb-4 text-gray-800">Product Details</h2>
                    {% if error %}<div class="bg-red-500 text-white p-4 rounded mb-4">{{ error }}</div>{% endif %}
                    <table class="w-full text-left table-auto">
                        <thead>
                            <tr class="border-b">
                                <th class="py-2 px-4">Key</th>
                                <th class="py-2 px-4">Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="py-2 px-4 font-medium">Product ID</td>
                                <td class="py-2 px-4">
                                    {{ product_details.aliexpress_ds_product_get_response.result.ae_item_base_info_dto.product_id }}
                                </td>
                            </tr>
                            <tr>
                                <td class="py-2 px-4 font-medium">Product Name</td>
                                <td class="py-2 px-4">
                                    {{ product_details.aliexpress_ds_product_get_response.result.ae_item_base_info_dto.subject }}
                                </td>
                            </tr>
                            <tr>
                                <td class="py-2 px-4 font-medium">Price</td>
                                <td class="py-2 px-4">
                                    {{ product_details.aliexpress_ds_product_get_response.result.ae_item_sku_info_dtos.ae_item_sku_info_d_t_o.0.offer_sale_price }} {{ product_details.aliexpress_ds_product_get_response.result.ae_item_sku_info_dtos.ae_item_sku_info_d_t_o.0.currency_code }}
                                </td>
                            </tr>
                            <tr>
                                <td class="py-2 px-4 font-medium">Stock</td>
                                <td class="py-2 px-4">
                                    {{ product_details.aliexpress_ds_product_get_response.result.ae_item_sku_info_dtos.ae_item_sku_info_d_t_o.0.sku_available_stock }}
                                </td>
                            </tr>
                            <tr>
                                <td class="py-2 px-4 font-medium">Average Rating</td>
                                <td class="py-2 px-4">
                                    {{ product_details.aliexpress_ds_product_get_response.result.ae_item_base_info_dto.avg_evaluation_rating }}
                                </td>
                            </tr>
                            <tr>
                                <td class="py-2 px-4 font-medium">Sales Count</td>
                                <td class="py-2 px-4">
                                    {{ product_details.aliexpress_ds_product_get_response.result.ae_item_base_info_dto.sales_count }}
                                </td>
                            </tr>
                            <tr>
                                <td class="py-2 px-4 font-medium">Evaluation Count</td>
                                <td class="py-2 px-4">
                                    {{ product_details.aliexpress_ds_product_get_response.result.ae_item_base_info_dto.evaluation_count }}
                                </td>
                            </tr>
                            <tr>
                                <td class="py-2 px-4 font-medium">Product Status</td>
                                <td class="py-2 px-4">
                                    {{ product_details.aliexpress_ds_product_get_response.result.ae_item_base_info_dto.product_status_type }}
                                </td>
                            </tr>
                            <!-- Store Information -->
                            <tr>
                                <td class="py-2 px-4 font-medium">Store ID</td>
                                <td class="py-2 px-4">{{ product_details.aliexpress_ds_product_get_response.result.ae_store_info.store_id }}</td>
                            </tr>
                            <tr>
                                <td class="py-2 px-4 font-medium">Store Name</td>
                                <td class="py-2 px-4">{{ product_details.aliexpress_ds_product_get_response.result.ae_store_info.store_name }}</td>
                            </tr>
                            <tr>
                                <td class="py-2 px-4 font-medium">Store Country</td>
                                <td class="py-2 px-4">
                                    {{ product_details.aliexpress_ds_product_get_response.result.ae_store_info.store_country_code }}
                                </td>
                            </tr>
                            <tr>
                                <td class="py-2 px-4 font-medium">Shipping Speed Rating</td>
                                <td class="py-2 px-4">
                                    {{ product_details.aliexpress_ds_product_get_response.result.ae_store_info.shipping_speed_rating }}
                                </td>
                            </tr>
                            <tr>
                                <td class="py-2 px-4 font-medium">Communication Rating</td>
                                <td class="py-2 px-4">
                                    {{ product_details.aliexpress_ds_product_get_response.result.ae_store_info.communication_rating }}
                                </td>
                            </tr>
                            <tr>
                                <td class="py-2 px-4 font-medium">Item as Described Rating</td>
                                <td class="py-2 px-4">
                                    {{ product_details.aliexpress_ds_product_get_response.result.ae_store_info.item_as_described_rating }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- Package Information -->
                <div class="bg-white p-6 rounded-lg shadow-md">
                    <h2 class="text-2xl font-semibold mb-4 text-gray-800">Package Information</h2>
                    <table class="w-full text-left table-auto">
                        <thead>
                            <tr class="border-b">
                                <th class="py-2 px-4">Key</th>
                                <th class="py-2 px-4">Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="py-2 px-4 font-medium">Package Width</td>
                                <td class="py-2 px-4">
                                    {{ product_details.aliexpress_ds_product_get_response.result.package_info_dto.package_width }}
                                </td>
                            </tr>
                            <tr>
                                <td class="py-2 px-4 font-medium">Package Height</td>
                                <td class="py-2 px-4">
                                    {{ product_details.aliexpress_ds_product_get_response.result.package_info_dto.package_height }}
                                </td>
                            </tr>
                            <tr>
                                <td class="py-2 px-4 font-medium">Package Length</td>
                                <td class="py-2 px-4">
                                    {{ product_details.aliexpress_ds_product_get_response.result.package_info_dto.package_length }}
                                </td>
                            </tr>
                            <tr>
                                <td class="py-2 px-4 font-medium">Gross Weight</td>
                                <td class="py-2 px-4">
                                    {{ product_details.aliexpress_ds_product_get_response.result.package_info_dto.gross_weight }}
                                </td>
                            </tr>
                            <tr>
                                <td class="py-2 px-4 font-medium">Product Unit</td>
                                <td class="py-2 px-4">
                                    {{ product_details.aliexpress_ds_product_get_response.result.package_info_dto.product_unit }}
                                </td>
                            </tr>
                            <!-- Logistics Information -->
                            <tr>
                                <td class="py-2 px-4 font-medium">Delivery Time</td>
                                <td class="py-2 px-4">
                                    {{ product_details.aliexpress_ds_product_get_response.result.logistics_info_dto.delivery_time }}
                                </td>
                            </tr>
                            <tr>
                                <td class="py-2 px-4 font-medium">Ship to Country</td>
                                <td class="py-2 px-4">
                                    {{ product_details.aliexpress_ds_product_get_response.result.logistics_info_dto.ship_to_country }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- Product Properties -->
                    <h2 class="text-2xl font-semibold mt-8 mb-4 text-gray-800">Product Properties</h2>
                    <table class="w-full text-left table-auto">
                        <thead>
                            <tr class="border-b">
                                <th class="py-2 px-4">Attribute</th>
                                <th class="py-2 px-4">Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for property in product_details.aliexpress_ds_product_get_response.result.ae_item_properties.ae_item_property %}
                                <tr>
                                    <td class="py-2 px-4 font-medium">{{ property.attr_name }}</td>
                                    <td class="py-2 px-4">{{ property.attr_value }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <!-- Images -->
                    <h2 class="text-2xl font-semibold mt-8 mb-4 text-gray-800">Images</h2>
                    <div class="flex flex-wrap gap-4">
                        {% for image_url in image_urls %}
                            <img src="{{ image_url }}"
                                 alt="Product Image"
                                 class="w-32 h-32 object-cover rounded-lg">
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- AliExpress Delivery Options -->
            <br>
            <div class="bg-white p-6 rounded-lg shadow-md">
                <h2 class="mb-4 text-2xl font-extrabold text-gray-900 dark:text-white md:text-2xl lg:text-2xl">
                    AliExpress Delivery Options
                </h2>
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
                        <tr class="border-b">
                            <th class="py-2 px-4">Code</th>
                            <th class="py-2 px-4">Shipping Fee Currency</th>
                            <th class="py-2 px-4">Free Shipping</th>
                            <th class="py-2 px-4">Min Delivery Days</th>
                            <th class="py-2 px-4">Max Delivery Days</th>
                            <th class="py-2 px-4">Tracking</th>
                            <th class="py-2 px-4">Shipping Fee</th>
                            <th class="py-2 px-4">Delivery Date</th>
                            <th class="py-2 px-4">Company</th>
                            <th class="py-2 px-4">Ship From Country</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for option in delivery_options %}
                            <tr>
                                <td class="py-2 px-4">{{ option.code }}</td>
                                <td class="py-2 px-4">{{ option.shipping_fee_currency }}</td>
                                <td class="py-2 px-4">{{ option.free_shipping }}</td>
                                <td class="py-2 px-4">{{ option.min_delivery_days }}</td>
                                <td class="py-2 px-4">{{ option.max_delivery_days }}</td>
                                <td class="py-2 px-4">{{ option.tracking }}</td>
                                <td class="py-2 px-4">{{ option.shipping_fee_format }}</td>
                                <td class="py-2 px-4">{{ option.delivery_date_desc }}</td>
                                <td class="py-2 px-4">{{ option.company }}</td>
                                <td class="py-2 px-4">{{ option.ship_from_country }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- SKU Information -->
            <br>
            <div class="bg-white p-6 rounded-lg shadow-md">
                <h2 class="mb-4 text-2xl font-extrabold text-gray-900 dark:text-white md:text-2xl lg:text-2xl">SKU Information</h2>
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
                        <tr class="border-b">
                            <th class="py-2 px-4">SKU ID</th>
                            <th class="py-2 px-4">Image</th>
                            <th class="py-2 px-4">Attributes</th>
                            <th class="py-2 px-4">Offer Sale Price</th>
                            <th class="py-2 px-4">Currency Code</th>
                            <th class="py-2 px-4">SKU Stock</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sku in product_details.aliexpress_ds_product_get_response.result.ae_item_sku_info_dtos.ae_item_sku_info_d_t_o %}
                            <tr>
                                <td class="py-2 px-4">{{ sku.sku_attr }}</td>
                                <td class="py-2 px-4">
                                    {% for attr in sku.ae_sku_property_dtos.ae_sku_property_d_t_o %}
                                        {% if attr.sku_image %}
                                            <img src="{{ attr.sku_image }}"
                                                 alt="{{ attr.sku_property_value }}"
                                                 class="w-16 h-16 object-cover rounded-lg">
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td class="py-2 px-4">
                                    {% for attr in sku.ae_sku_property_dtos.ae_sku_property_d_t_o %}
                                        {{ attr.sku_property_name }}: {{ attr.property_value_definition_name|default:attr.sku_property_value }}
                                        <br>
                                    {% endfor %}
                                </td>
                                <td class="py-2 px-4">{{ sku.offer_sale_price }}</td>
                                <td class="py-2 px-4">{{ sku.currency_code }}</td>
                                <td class="py-2 px-4">{{ sku.sku_available_stock }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- Product Description -->
            <br>
            <div class="bg-white p-6 rounded-lg shadow-md">
                <h2 class="mb-4 text-2xl font-extrabold text-gray-900 dark:text-white md:text-2xl lg:text-2xl">Product Description</h2>
                {{ product_details.aliexpress_ds_product_get_response.result.ae_item_base_info_dto.detail | safe }}
            </div>
        {% else %}
            <p class="text-red-500 mt-4">No details found for this product.</p>
        {% endif %}
    </div>
{% endblock %}
