{% extends "base.html" %}
{% block content %}
    <div class="max-w-8xl mx-auto my-8 p-6 bg-white rounded-lg shadow-md">
        <h1 class="text-3xl font-bold mb-6 text-gray-800">Search Product by KEYWORDS</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-4">
                <label for="product_url" class="block text-lg font-medium text-gray-700">Product URL:</label>
                <div class="flex items-center space-x-4 mb-4">
                    <input type="text"
                           id="keywords"
                           name="keywords"
                           class="w-full p-2 border border-gray-300 rounded-lg text-gray-900 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
                           placeholder="Enter product keywords..."
                           required>
                    <button type="submit"
                            class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                        Search
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="max-w-8xl mx-auto my-8 p-6 bg-white rounded-lg shadow-md">
        {% if page_obj %}
            <h2 class="text-md font-semibold mb-4 text-gray-800">Products Found</h2>
            <div class="relative overflow-x-auto">
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-4 py-2">Product ID</th>
                            <th scope="col" class="px-4 py-2">Product Title</th>
                            <th scope="col" class="px-4 py-2">Price</th>
                            <th scope="col" class="px-4 py-2">Discount</th>
                            <th scope="col" class="px-4 py-2">Orders</th>
                            <th scope="col" class="px-4 py-2">Score</th>
                            <th scope="col" class="px-4 py-2">Image</th>
                            <th scope="col" class="px-4 py-2">Link</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in page_obj %}
                            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                <td class="px-4 py-2">
                                    <a href="{% url 'product_detail_view' product.itemId %}"
                                       class="text-blue-600 hover:underline">{{ product.itemId }}</a>
                                </td>
                                <td class="px-4 py-2">{{ product.title }}</td>
                                <td class="px-4 py-2">{{ product.salePriceFormat }}</td>
                                <td class="px-4 py-2">{{ product.discount }}</td>
                                <td class="px-4 py-2">{{ product.orders }}</td>
                                <td class="px-4 py-2">{{ product.score }}</td>
                                <td class="px-4 py-2">
                                    <img src="{{ product.itemMainPic }}"
                                         alt="Product Image"
                                         class="w-20 h-20 rounded-lg object-cover">
                                </td>
                                <td class="px-4 py-2">
                                    <a href="https:{{ product.itemUrl }}"
                                       target="_blank"
                                       class="inline-flex items-center px-3 py-1.5 text-xs font-medium text-center text-white bg-blue-600 rounded-lg hover:bg-blue-700 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-500 dark:hover:bg-blue-600 dark:focus:ring-blue-800">
                                        View Product
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- Paginação -->
            <nav class="flex justify-between items-center my-6"
                 aria-label="Page navigation">
                <ul class="inline-flex items-center -space-x-px">
                    {% if page_obj.has_previous %}
                        <li>
                            <a href="?page={{ page_obj.previous_page_number }}"
                               class="block px-3 py-2 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                &laquo; Previous
                            </a>
                        </li>
                    {% endif %}
                    {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                            <li>
                                <a href="?page={{ num }}"
                                   class="z-10 px-3 py-2 leading-tight text-white bg-blue-600 border border-blue-600 hover:bg-blue-700 hover:text-white">{{ num }}</a>
                            </li>
                        {% elif num > page_obj.number|add:'-5' and num < page_obj.number|add:'5' %}
                            <li>
                                <a href="?page={{ num }}"
                                   class="block px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">{{ num }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li>
                            <a href="?page={{ page_obj.next_page_number }}"
                               class="block px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                Next &raquo;
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    </div>
{% endblock %}
