{% extends "base.html" %}
{% block content %}
<main class="container my-4">
    <h1 class="h3 mb-3 fw-normal">Search Product by URL</h1>
    <form method="post" class="mb-4">
        {% csrf_token %}
        <div class="mb-3">
            <label for="product_url" class="form-label">Product URL:</label>
            <input type="text" id="product_url" name="product_url" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</main>
{% endblock %}
