{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <h1 class="mb-4 text-center">Products List</h1>
    {% if products %}
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Product ID</th>
                <th scope="col">Product Name</th>
                <th scope="col">Price</th>
                <th scope="col">Created Date</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.title }}</td>
                <td>{{ product.variants.0.price | floatformat:2 }}</td>
                <td>{{ product.created_at }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p class="text-center">No products found.</p>
    {% endif %}
</div>
{% endblock %}
