{% extends "base.html" %}

{% block content %}
<div class="container my-4">
    <h1>Shopify Orders</h1>
    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th scope="col">Order ID</th>
                <th scope="col">Customer</th>
                <th scope="col">Total Price</th>
                <th scope="col">Financial Status</th>
                <th scope="col">Fulfillment Status</th>
                <th scope="col">Created At</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>
                        {{ order.customer.firstName }} {{ order.customer.lastName }}
                    </td>
                    <td>{{ order.totalPriceSet.shopMoney.amount }} {{ order.totalPriceSet.shopMoney.currencyCode }}</td>
                    <td>{{ order.displayFinancialStatus }}</td>
                    <td>{{ order.displayFulfillmentStatus }}</td>
                    <td>{{ order.createdAt }}</td>
                    <td>
                        <a href="#" class="btn btn-primary">View</a>
                        {% if order.can_purchase %}
                            {% if order.paid and order.code_track and order.freight %}
                                <button class="btn btn-secondary" disabled>Finalized</button>
                            {% elif order.paid and order.code_track and not order.freight %}
                                <button class="btn btn-secondary" disabled>Waiting for Freight</button>
                            {% elif not order.paid and not order.code_track and not order.freight %}
                                <form action="{% url 'purchase-order' %}" method="post" style="display:inline;">
                                    <input type="hidden" name="order_id" value="{{ order.id }}">
                                    <input type="hidden" name="store_id" value="{{ shop }}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-success">Send</button>
                                </form>
                            {% elif order.paid and not order.code_track %}
                                <button class="btn btn-secondary" disabled>Sent</button>
                            {% else %}
                                <button class="btn btn-secondary" disabled>Unknown Status</button>
                            {% endif %}
                        {% else %}
                            <button class="btn btn-secondary" disabled>Non-Purchased</button>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}