{% extends "base.html" %}
{% block content %}
<div class="container my-4">
    <h1>Select Shopify Store</h1>
    <form method="post" action="{% url 'push_product' %}">
        {% csrf_token %}
        <input type="hidden" name="product_id" value="{{ product_id }}">
        <div class="form-group">
            <label for="store_id">Select Store:</label>
            <select id="store_id" name="store_id" class="form-select" required>
                {% for store in stores %}
                <option value="{{ store.shop_url }}">{{ store.shop_url }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Send to SHOPIFYS STORE</button>
    </form>
</div>
{% endblock %}
