{% extends "base.html" %}
{% block content %}
    <div class="max-w-8xl mx-auto my-8 p-6 bg-white rounded-lg shadow-md">
        <h2 class="text-3xl font-bold mb-6 text-gray-800">Available Stores</h2>
        {% if stores %}
            <table class="w-full text-sm text-left text-gray-700 bg-white rounded-lg dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-200 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th class="px-4 py-3">Store Name</th>
                        <th class="px-4 py-3">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for store in stores %}
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-100 transition duration-300">
                            <td class="px-4 py-3 font-medium text-gray-900 dark:text-white">{{ store.shop_url }}</td>
                            <td class="px-4 py-3">
                                <a href="{% url 'shopify_orders' shop=store.shop_url %}"
                                   class="inline-flex items-center px-4 py-2 text-sm font-medium text-white bg-blue-600 rounded-lg hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 mr-2">
                                    View Orders
                                </a>
                                <a href="{% url 'shopify_products' shop=store.shop_url %}"
                                   class="inline-flex items-center px-4 py-2 text-sm font-medium text-white bg-green-600 rounded-lg hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-400">
                                    View Products
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="text-center text-gray-600 mt-4">No stores found.</p>
        {% endif %}
    </div>
{% endblock %}
